
@{
    ViewBag.Title = "LatestImage";
}

<html>
<body>

    <div style="background-color:lightblue">
        <h4>
            <p>
                <font color="green">@ViewBag.Message</font>
            </p>
        </h4>
</div>
</body>
</html>
