.bold-header {
    align-content: flex-start;
    text-align: left;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 56px;
}

.regular-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 6px;
    padding-left: 32px;
}

.primary-button {
    background: #6264A7;
    border: 2px solid #6264A7;
    border-radius: 2px;
    height: 32px;
    width: 90px;
    margin-top: 150px;
    margin-left: 478px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.primary-button-content {
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.back-button {
    background: white;
    border: 2px solid #16233A;
    color: #16233A;
    height: 32px;
    width: 90px;
    margin-top: 150px;
    margin-left: 478px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.back-button-content {
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 5px;
}
