.bold-header {
    align-content: flex-start;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 56px;
}

.regular-content {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 6px;
    padding-left: 32px;
}

.primary-button {
    background: #2d2c2c;
    border: 2px solid #5558AF;
    border-radius: 2px;
    height: 32px;
    width: 90px;
    margin-top: 56px;
    margin-left: 478px;
    padding-right: 32px;
    padding-bottom: 32px;
}

    .primary-button:hover {
        background-color: #9FA4FE;
        opacity: 0.75;
    }

.primary-button-content {
    color: #5558AF;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.back-button {
    background: #2d2c2c;
    border: 2px solid #5558AF;
    height: 32px;
    width: 90px;
    margin-top: 56px;
    margin-left: 478px;
    padding-right: 32px;
    padding-bottom: 32px;
}

    .back-button:hover {
        background-color: #9FA4FE;
        opacity: 0.75;
    }

.back-button-content {
    color: #5558AF;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    padding-top: 7px;
    padding-left: 20px;
    padding-bottom: 5px;
}