.bold-header {
    align-content: flex-start;
    text-align: left;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 18px;
    color: #252424;
    letter-spacing: 0; 
    line-height: 24px;
    margin: 0;
}

.regular-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding-top: 6px;
}

.primary-button {
    background: #6264A7;
    border: 2px solid #6264A7;
    height: 32px;
    width: 90px;
    margin-top: 100px;
    margin-left: 478px;
}

.primary-button-content{
    color: #FFFFFF;
    margin: 0;
}