/*General rules*/
#introDiv {
    display: block;
    padding-top: 24px;
}

#matchesDiv {
    display: none;
    padding-top: 24px
}

.bold-header {
    font-family: 'Segoe UI';
}

/*Dark Theme rules*/
.theme-dark .bold-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding-top: 32px;
}

.theme-dark .regular-content {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 6px;
    height: 36px;
}

.theme-dark .primary-button {
    background: #6264A7;
    border: 2px solid #5558AF;
    border-radius: 2px;
    height: 32px;
    min-width: 96px;
    margin: 160px 0px 0px 478px;
}

    .theme-dark .primary-button:hover {
        background-color: #BDBDE6;
        color: #201F1F;
        border-color: transparent;
    }

    .theme-dark .primary-button:active:focus {
        background: #6264A7;
        border-color: transparent;
        color: #201F1F;
        outline: 0.125rem solid #201F1F;
        outline-offset: -0.25rem
    }

.theme-dark .primary-button-content {
    color: #201F1F;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    margin: 0;
    width: 50px;
    height: 20px;
    padding: 5px 20px 7px 15px;
    text-align: center;
    font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

body.theme-default {
    color: #252424;
}

body.theme-highContrast {
    color: #FFFFFF;
}

body.theme-dark {
    color: #FFFFFF;
}

/*Default Theme rules*/
.theme-default .bold-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #252424;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding-top: 32px;
}

.theme-default .regular-content {
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding-top: 6px;
    height: 36px;
}

.theme-default .primary-button {
    background: #6264A7;
    border: 0.125rem solid;
    border-color: transparent;
    border-radius: 0.1875rem;
    height: 32px;
    min-width: 96px;
    margin: 160px 0px 0px 478px;
}

    .theme-default .primary-button:hover {
        background: #464775;
        border-color: transparent;
        color: #FFFFFF
    }

    .theme-default .primary-button:active:focus {
        background: #464775;
        border-color: transparent;
        color: #FFFFFF;
        outline: 0.125rem solid #FFFFFF;
        outline-offset: -0.25rem
    }

.theme-default .primary-button-content {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    margin: 0;
    width: 50px;
    height: 20px;
    padding: 5px 20px 7px 15px;
    text-align: center;
    font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

/*High Contrast Theme rules*/
.theme-highContrast .bold-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding-top: 32px;
}

.theme-highContrast .regular-content {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 6px;
    height: 36px;
}

.theme-highContrast .primary-button {
    background: #FFFFFF;
    border: 0.125rem solid;
    border-color: transparent;
    border-radius: 0.1875rem;
    height: 32px;
    min-width: 90px;
    margin: 160px 0px 0px 478px;
}

    .theme-highContrast .primary-button:hover {
        background: #FFFF00;
        border-color: transparent;
        color: #000000
    }

    .theme-highContrast .primary-button:active:focus {
        background: #FFFF00;
        border-color: transparent;
        color: #000000;
        outline: 0.125rem solid transparent;
        outline-offset: -0.25rem
    }

.theme-highContrast .primary-button-content {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    margin: 0;
    width: 50px;
    height: 20px;
    padding: 5px 20px 7px 15px;
    text-align: center;
    font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}
