# Paths with files restored by libman
wwwroot/lib/jquery/
wwwroot/lib/microsoft-teams/
wwwroot/lib/bootstrap
wwwroot/lib/jquery-validation
wwwroot/lib/jquery-validation-unobtrusive
lib/jquery/
lib/microsoft-teams/