<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveCards" version="2.3.0" targetFramework="net472" />
  <package id="AdaptiveCards.Templating" version="1.1.0" targetFramework="net472" />
  <package id="AdaptiveExpressions" version="4.9.3" targetFramework="net472" />
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net472" />
  <package id="Autofac" version="6.0.0" targetFramework="net472" />
  <package id="Autofac.WebApi2" version="6.0.0" targetFramework="net472" />
  <package id="Azure.Core" version="1.6.0" targetFramework="net472" />
  <package id="Azure.Identity" version="1.3.0" targetFramework="net472" />
  <package id="Azure.Security.KeyVault.Secrets" version="4.1.0" targetFramework="net472" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.15.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.8" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Azure.DocumentDB" version="2.13.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Builder" version="4.12.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Builder.Integration.AspNet.WebApi" version="4.12.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Connector" version="4.12.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Schema" version="4.12.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Streaming" version="4.12.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.22.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.16.5" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Recognizers.Text.DataTypes.TimexExpression" version="1.2.9" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.LibraryManager.Build" version="2.1.113" targetFramework="net472" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Polly-Signed" version="5.3.1" targetFramework="net46" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>