/*General rules*/
#introDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px 32px 32px 32px
}

#matchesDiv {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px 32px 32px 32px;
}

.textDiv {
    width: 536px;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.imageDiv {
    text-align: center;
}

    .imageDiv img {
        padding-top: 21px;
    }

.bold-header {
    font-family: 'Segoe UI';
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

/*Dark Theme rules*/
.theme-dark .bold-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding-top: 32px;
}

.theme-dark .regular-content {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 6px;
    height: 36px;
}

.theme-dark .primary-button {
    background: #6264A7;
    border: 0.125rem solid;
    border-color: transparent;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    color: #201F1F;
    cursor: pointer;
    font: inherit;
    margin: 90px 0px 0px 478px;
    height: 32px;
    min-width: 96px;
    font-size: 14px;
}

    .theme-dark .primary-button:hover {
        background-color: #BDBDE6;
        color: #201F1F;
        border-color: transparent;
    }

    .theme-dark .primary-button:active:focus {
        background: #6264A7;
        border-color: transparent;
        color: #201F1F;
        outline: 0.125rem solid #201F1F;
        outline-offset: -0.25rem
    }

.theme-dark .surface {
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.theme-dark .footer {
    display: flex;
    flex-direction: row-reverse;
}

/*Default Theme rules*/
.theme-default .bold-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #252424;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding-top: 32px;
}

.theme-default .regular-content {
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding-top: 6px;
    height: 36px;
}

.theme-default .primary-button {
    background: #6264A7;
    border: 0.125rem solid;
    border-color: transparent;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    height: 32px;
    min-width: 96px;
    margin: 90px 0px 0px 478px;
    color: #FFFFFF;
    font: inherit;
    font-size: 14px;
}

    .theme-default .primary-button:hover {
        background: #464775;
        border-color: transparent;
        color: #FFFFFF
    }

    .theme-default .primary-button:active:focus {
        background: #464775;
        border-color: transparent;
        color: #FFFFFF;
        outline: 0.125rem solid #FFFFFF;
        outline-offset: -0.25rem
    }

.theme-default .surface {
    color: #252424;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.theme-default .footer {
    display: flex;
    flex-direction: row-reverse;
}

/*High Contrast Theme rules*/
.theme-highContrast .bold-header {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding-top: 32px;
}

.theme-highContrast .regular-content {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 6px;
    height: 36px;
}

.theme-highContrast .primary-button {
    background: #FFFFFF;
    border: 0.125rem solid;
    border-color: transparent;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font: inherit;
    height: 32px;
    min-width: 90px;
    margin: 90px 0px 0px 478px;
    font-size: 14px;
}

    .theme-highContrast .primary-button:hover {
        background: #FFFF00;
        border-color: transparent;
        color: #000000
    }

    .theme-highContrast .primary-button:active:focus {
        background: #FFFF00;
        border-color: transparent;
        color: #000000;
        outline: 0.125rem solid transparent;
        outline-offset: -0.25rem
    }

.theme-highContrast .surface {
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.theme-highContrast .footer {
    display: flex;
    flex-direction: row-reverse;
}